<section class="kplugin-config BSTRP">
  <section class="container">

    <section class="row mb-2">
      <h2 class="kplugin-config-heading" style="padding: 12px 0;">
        <span>Settings for kplugin</span>
        <i class="fa fa-question-circle" data-action="show-help"></i>
      </h2>
    </section>

    <section class="row mb-2">
      <div class="btn-group">
        <button class="btn btn-primary" data-action="config-table-save">
          <i class="fa fa-save"></i>
          Save
        </button>
        <button class="btn btn-dark" data-action="config-table-add-row">
          <i class="fa fa-plus"></i>
          Add Row
        </button>
        <button class="btn btn-dark" data-action="config-table-upload">
          <i class="fa fa-cloud-upload-alt"></i>
          Upload
        </button>
        <button class="btn btn-dark" data-action="config-table-download">
          <i class="fa fa-cloud-download-alt"></i>
          Download
        </button>
      </div>
    </section>

    <section class="row mb-2">
      <div id="config-table" style="width: 100%;">Loading Table Data...</div>
    </section>

    <br />

    <section class="row">
      <h3>Variables</h3>
    </section>

    <section class="row mb-2">
      <p class="kintoneplugin-desc">
        Using template engine of underscore.js. See below for specific usage.
      </p>

      <a
         href="https://underscorejs.org/#template"
         target="_new"
         >https://underscorejs.org/#template</a>

    </section>

    <section class="row mb-2">
      <div id="section-variable-description" class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th><span>var</span></th>
              <th><span>type</span></th>
              <th><span>desc.</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>last_increment</td>
              <td>String</td>
              <td>A first value of "ORDER BY DESC" result of "Target" field.</td>
            </tr>
            <tr>
              <td>total</td>
              <td>Integer</td>
              <td>Total count of non-empty records with "Target" field.</td>
            </tr>
            <tr>
              <td>record</td>
              <td>*vary</td>
              <td id="td-record-reference">
                <p>Available properties on `create` and `edit` events.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- gaia-admin-listtable-table-wrapper -->
    </section>

  </section><!-- container -->

</section>

<script type="text/template" id="template:help">
<!-- Remove this if you dont need -->
<div class="text-left">
<p class="text-muted">フィールド自動計算プラグイン</p>
<p>
<small>
指定したフィールドを自動計算に変更します。適用タイミングは <code>create</code> と <code>edit</code> です。
自動計算で使用される Value フィールドは UnderscoreJS の <code>_.template</code> メソッドでレンダリングするための式を入力してください。
</small>
</p>
<p>
<small>
例えば、<code>&lt;%= record.OtherField.value + 2 %&gt;</code> と入力した場合は OtherField に 2 を加算した値が保存時に入力されます。
</small>
<br>
<small>
使用可能なレコードのフィールドコードは、テーブル下部のリファレンスを確認してください。
</small>
</p>
<p>
<div><span class="font-weight-bold">参考</span><div>
<a href="https://underscorejs.org/#template"><small>https://underscorejs.org/#template</small></a>
</p>
</div>
</script>

<script type="text/template" id="template:reference_table">
<table id="reference-table" class="table table-striped">
<thead class="thead-dark">
  <tr>
    <th>Field Code</th>
    <th>Label</th>
    <th>Type</th>
  </tr>
</thead>
<tbody>
  <% for(var k in props){ var r = props[k] %>
    <tr>
      <td><%= r.code %></td>
      <td><%= r.label %></td>
      <td><%= r.type %></td>
    </tr>
  <% } %>
</tbody>
</table>
</script>
